<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/qb2023"/>
        <property name="username" value="root"/>
        <property name="password" value="shirahagi"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
<!--   要的是单个映射文件的配置路径 -->
    <mapper resource="com/koneko/consulting/mapper/UserMapper.xml"/>
  </mappers>
</configuration>