<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koneko.consulting.mapper.SysUserMapper">
    <resultMap type="com.koneko.consulting.vo.SysUser" id="SysUserResultMap">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_info" property="userInfo"/>
        <result column="head_img" property="headImg"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <select id="getList" resultType="com.koneko.consulting.vo.SysUser">
        select * from sys_user;
    </select>
    <select id="selectByMap" parameterType="map" resultType="com.koneko.consulting.vo.SysUser">
        select 
        `id` id,
        `user_name` userName,
        `user_password` userPassword,
        `user_email` userEmail,
        `user_info` userInfo,
        `head_img` headImg,
        `create_time` createTime
        from sys_user where user_name = #{userName} or id = #{id}
    </select>
    <select id="selectByDto" parameterType="com.koneko.consulting.dto.SysUserDto" resultType="com.koneko.consulting.vo.SysUser">
        select 
        `id` id,
        `user_name` userName,
        `user_password` userPassword,
        `user_email` userEmail,
        `user_info` userInfo,
        `head_img` headImg,
        `create_time` createTime
        from sys_user 
        <where>
	        <if test="userName != null and userName != ''">
	            and user_name like concat(#{userName},'%')
	        </if>  
	        <if test="userEmail != null and userEmail != ''">
	            and user_email = #{userEmail}
	        </if>
	   </where>       
    </select>
    <select id="selectByIdOrName" resultType="com.koneko.consulting.vo.SysUser">
        select 
        `id` id,
        `user_name` userName,
        `user_password` userPassword,
        `user_email` userEmail,
        `user_info` userInfo,
        `head_img` headImg,
        `create_time` createTime
        from sys_user 
        <trim prefix="where" prefixOverrides="and | or">
	        <choose>
	            <when test="id != null and id != ''">
	                and id = #{id}
	            </when>
	            <when test="userName != null and userName != ''">
	                and user_name = #{userName}
	            </when>
	            <otherwise>
	                and 1 = 2;
	            </otherwise>
	        </choose>
	   </trim>
    </select>
    <select id="selectByCollection" resultType="com.koneko.consulting.vo.SysUser">
        select 
        `id` id,
        `user_name` userName,
        `user_password` userPassword,
        `user_email` userEmail,
        `user_info` userInfo,
        `head_img` headImg,
        `create_time` createTime
        from sys_user 
        where id IN 
        <foreach collection="list" open="(" close=")" separator="," index="i" item="id">
            #{id}
        </foreach>
    </select>
    <insert id="insertUser" parameterType="com.koneko.consulting.vo.SysUser">
        INSERT INTO `sys_user`(
            `id`,
            `user_name`,
            `user_password`,
            `user_email`,
            `user_info`,
            `head_img`,
            `create_time`            
        )
        VALUES
        (
            #{id},
            #{userName},
            #{userPassword},
            #{userEmail},
            #{userInfo},
            #{headImg,jdbcType=BLOB},
            #{createTime,jdbcType=TIMESTAMP}
        )
        <selectKey keyColumn="id" keyProperty="id" resultType="long" order="AFTER">
            select last_insert_id()
        </selectKey>        
    </insert>
    <insert id="insertUsers" parameterType="com.koneko.consulting.vo.SysUser">
        INSERT INTO `sys_user`(
            `user_name`,
            `user_password`,
            `user_email`,
            `user_info`,
            `head_img`,
            `create_time`            
        )
        VALUES
        <foreach collection="list" item="user" separator=",">
            (#{user.userName},
            #{user.userPassword},
            #{user.userEmail},
            #{user.userInfo},
            #{user.headImg,jdbcType=BLOB},
            #{user.createTime,jdbcType=TIMESTAMP})
        </foreach>
        <selectKey keyColumn="id" keyProperty="id" resultType="long" order="AFTER">
            select last_insert_id()
        </selectKey>        
    </insert>
    <select id="selectById" parameterType="long" resultType="com.koneko.consulting.vo.SysUser">
        SELECT
        `id` id,
        `user_name` userName,
        `user_password` userPassword,
        `user_email` userEmail,
        `user_info` userInfo,
        `head_img` headImg,
        `create_time` createTime
        FROM
        `sys_user`
        WHERE
        id=#{id}
    </select>
    <select id="selectAll" resultType="com.koneko.consulting.vo.SysUser">
        SELECT
        `id` id,
        `user_name` userName,
        `user_password` userPassword,
        `user_email` userEmail,
        `user_info` userInfo,
        `head_img` headImg,
        `create_time` createTime
        FROM
        `sys_user`
    </select>
    <update id="updateById">
        update sys_user 
        <trim prefix="set" suffixOverrides=",">
	        <if test="userName != null and userName != ''">
	            user_name = #{userName},
	        </if>
	        <if test="userPassword != null and userPassword != ''">
	            user_password = #{userPassword},
	        </if>
	        <if test="userEmail != null and userEmail != ''">
	            user_email = #{userEmail},
	        </if>
	        <if test="userInfo != null and userInfo != ''">
	            user_info = #{userInfo},
	        </if>
	        <if test="headImg != null and headImg != ''">
	            head_img = #{headImg},
	        </if>
	        <if test="createTime != null and createTime != ''">
	            create_time = #{createTime},
	        </if>
	        id = #{id}
        </trim>
        where id = #{id}
    </update>
    <select id="testSelectStar" resultType="com.koneko.consulting.vo.SysUser">
        select * from sys_user
    </select>
</mapper>